@media (max-width: 600px) {
  .html {
    padding-top: 3rem;
  }
}

.html * {
  margin: 0.5rem;
}

.html h1 {
  font-weight: 800;
  margin: 8px;
  font-size: 2rem;
}

.html h2 {
  font-weight: 700;
  margin: 8px;
  font-size: 1.5rem;
}

.html p {
  font-size: 1rem;
}

.html a {
  text-decoration: underline;
  cursor: pointer;
}

.html ul li {
  list-style-type: circle;
  text-align: left;
  font-size: 1rem;
}

.html ol li {
  list-style-type: decimal;
  text-align: left;
  font-size: 1rem;
}

.html img {
  max-height: 400px;
}

.progress {
  transition: 0.5s ease;
}
