.box{
    width: 500px;
    height: 500px;
} 

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, #4CBFFF, #4982F3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, transparent, #4CBFFF, #4982F3);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}